<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>
  <% include ../partials/nav %>
  <link rel="stylesheet" href="../location.css">



  <form action="/" method="POST" enctype="application/x-www-form-urlencoded" class="form_location">
    <section id="locationInputTypes" class="form_location-inputs">
      <input id="getCustomLocation" class="form_location-textInput" type="text" name="userInput" autocomplete="off">
      <input id="userLocation" type="hidden" name="userLocation">
    </section>
    
    <section class="form_location-message">
      <% if(typeof(message) !== "undefined") { %>
      <p class="error"><%= message %></p>
      <% } %>

      <% if(lastUpdateTime) { %>
      <p class="time">Last location update: <%= lastUpdateTime %></p>
      <% } %>
    </section>
    <div class="suggestionsWrapper">
      <section id="locationSuggestions" class="suggestions">      

        <% if(typeof(results) !== "undefined") { %>
        <% results.map((item, index) => { %>
          <input type="radio" id="<%= item.woonplaats %>" name="userSuggestion" value="<%= item.woonplaats %>">
          <label for="<%= item.woonplaats %>">
            <%= item.woonplaats %>
          </label>
        
        <% }) %>
        <% } %>
      </section>
    </div>

    <input type="checkbox" id="removeLocation" class="form_location-remove" name="userSuggestion"
      value="removeLocation">
    <label for="removeLocation" class="form_location-removeLabel">
      Remove my location from database</label>
    <button id="submitUserLocation" type="submit" class="form_location-submit">Submit</button>
  </form>


  <a href="/matches">Matches</a>
  <a href="/festivals">festivals</a>

  <script src="../client.js" type="module"></script>
  <% include ../partials/footer %>
</body>


</html>