<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>
  <% include ../partials/nav %>
  <link rel="stylesheet" href="../location.css">
  
  <% if(typeof(message) !== "undefined") { %>
    <p><%= message %></p>
  <% } %>

  <p>Last location update: <%= lastUpdateTime %></p>
  <form action="/" method="POST" enctype="application/x-www-form-urlencoded">
    <section id="locationInputTypes">
      <input type="checkbox" id="noLocation" name="userSuggestion" value="noLocation">   
      <label for="noLocation">No location</label>
      <input id="userLocation" type="hidden" name="userLocation">
      <button id="submitUserLocation" type="submit">submit</button>
      
      <div class="suggestionsWrapper">
        <input id="getCustomLocation" type="text" name="userInput" autocomplete="off">
        <section id="locationSuggestions" class="suggestions">
          <% if(typeof(results) !== "undefined") { %>
            <% results.map((item, index) => { %>
              <input type="radio" id="<%= item.woonplaats %>" name="userSuggestion" value="<%= item.woonplaats %>">   
              <label for="<%= item.woonplaats %>"><%= item.woonplaats %></label>
            <% }) %>
          <% } %>
        </section>
      </div>
     </section>

    
  </form>

  <script src="../client.js" type="module"></script>
  <% include ../partials/footer %>
</body>


</html>