<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <% include ../partials/nav %>
    <h1>Matches</h1>
    <% if (!locationIsAvailable) { %>
        <h2>You have not provided your location</h2>
    <% } %>    

    <% for (let [key, value] of Object.entries(matches)) {%>
        <p><%= value.name %></p>
        <p>age: <%= value.age %></p>
        <% if(value.location) { %>
            <p class="macthLocation"><%= value.location %>km</p>
        <% } %>
        <img src="<%= value.image %>" alt="a picture of <%= value.name %>">
    <% } %>

    <% include ../partials/footer %>
</body>

</html>