<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>
<link rel="stylesheet" href="../matches.css">


<body>
    <% include ../partials/nav %>
    <section class="matches-messages">
        <h1>Matches</h1>
        <% if (!locationIsAvailable) { %>
        <h2>You have not provided your location</h2>
        <% } %>
    </section>

    <% for (let [key, value] of Object.entries(matches)) {%>
    <section class="matchesWrapper">
        <img src="<%= value.image %>" alt="a picture of <%= value.name %>" class="match-image">
        <div class="match-details-container">
            <h3 class="match-name"><%= value.name %></h3>
            <div class="match-age-location-wrapper">
                <p class="match-age">age: <%= value.age %></p>
                <% if(value.location) { %>
                <p class="match-location"><%= value.location %>km</p>
                <% } %>
            </div>
        </div>
    </section>
    <% } %>

    <% include ../partials/footer %>
</body>

</html>