<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <% include ../partials/nav %>
    <h1>Matches</h1>

    <% for (let [key, value] of Object.entries(matches)) {%>
        <% for (let [nestedKey, nestedValue] of Object.entries(value)) {%>
            <% console.log(nestedValue)%>
            <p><%= nestedValue.name %></p>
            <p>age: <%= nestedValue.age %></p>
            <p class="macthLocation" data-location="<%= JSON.stringify(nestedValue.location) %>">No location</p>
            <img src="<%= nestedValue.image %>" alt="a picture of <%= nestedValue.name %>">
        <% } %>
    <% } %>

    <% include ../partials/footer %>
</body>

</html>